.conteiner-homePage{
    display: flex;
   flex-direction: column;
   background: url('../../image/vista-elevada-verduras.avif') no-repeat;
   background-size: cover;



}
.recipe{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   display:grid;
   grid-template-columns: repeat(5,1fr);

   justify-content: space-around;
   padding: 1rem;
   border-radius: 1rem;
   gap: 1rem;
   margin: 5rem;
   display:grid;
   grid-template-columns: repeat(5, 1fr);
 
   grid-column-gap: .5rem;
   grid-row-gap: 2rem;
   justify-items: center;
}

#section-home{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content:center;

}


.input{
    width: 180px;
    height: 30px;
    border-radius:8px;
    position: relative;
    top: 10px;
    left: 10px;
    color: #060606;
    background: transparent;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.99);
    backdrop-filter: blur(15px);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: solid grey;
}

.input:hover{
    background: #100f0fa8;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.99);
    color: white;
    transform: scale(1.1);
    border: solid rgba(255, 254, 254, 0.807);

}



/* CSS DE LA HOME CARD */

.conteiner-car{


    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow:visible;

}
.cards{
    display: inline-flex;
    flex-direction: column;
 
    width: 250px;
    height: 470px;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 10px 50px;
    
    flex-wrap: nowrap;
    transition: 0.3s;
    box-shadow: 5px 5px 15px 5px #989292cf;
    /* background: #dbe4e6ab; */
     background: url('../../image/fondo-card.jpg'); 
    

 
   
    color:rgba(17, 16, 16, 0.895);
    text-shadow: 2px 3px 4px rgba(220, 237, 232, 0.99);
    
    
}

#title-card{
    font-size: 18px;

}
#diet-title-card{
    font-size: 15px;

}

#diet-card{
    font-size: 12px;
    text-align:left;
    margin: 40px;
}

#image-card{
    height: 50%;
    padding: 2px;
    transition: 0.3s;
    border-radius: 50px;
    margin: 10px 10px 10px;
  

}

#image-card:hover{
    transform: scale(1.05);
    background: #f5f1f0;
    box-shadow: 0 0 10px #81e2d8, 0 0 40px #2091a7, 0 0 80px #0f699c;
    cursor: pointer;
    
    
}